sudo: false
language: python
python:
  - "3.5"
  - "3.6"
  # PyPy versions
  - "pypy3.5"
# command to install dependencies
install:
  - pip install .
  - pip install codecov
  - pip install -r requirements.txt
# command to run tests
script: nosetests --cover-branches --with-coverage --cover-erase --cover-package=color_gamma_analyzer
after_success:
  - codecov
